.field-group-layout {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field-text {
  font-size: 14px;
  color: #727272;
}

.field-form-layout {
  border: 1px solid rgb(174, 174, 174);
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  height: 30px;
  background-color: white;
  color: #747474;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.field-form-layout.id {
  border: 1px solid rgb(174, 174, 174);
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  height: 30px;
  background-color: white;
  color: #747474;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.field-form-layout.name {
  width: 300px;
}

.field-form-layout.name.require {
  border: 1px solid rgb(250, 151, 151);
}

.field-form-layout.description {
  width: 690px;
  height: 60px;
}

.field-form-layout.description.require {
  border: 1px solid rgb(250, 151, 151);
}

.field-form-layout.defect {
  width: 690px;
  height: 60px;
}

.field-form-layout.defect.require {
  border: 1px solid rgb(250, 151, 151);
}

.field-form-layout.type {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 30px;
  align-items: center;
}

.field-form-layout.type.require {
  border: 1px solid rgb(250, 151, 151);
}

.field-form-layout.waist {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 30px;
  align-items: center;
}

.field-form-layout.waist.require {
  border: 1px solid rgb(250, 151, 151);
}

.field-form-layout.length {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 30px;
  align-items: center;
}

.field-form-layout.length.require {
  border: 1px solid rgb(250, 151, 151);
}

.field-form-layout.chest {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 30px;
  align-items: center;
}

.field-form-layout.chest.require {
  border: 1px solid rgb(250, 151, 151);
}

.field-form-layout.detail {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 30px;
  align-items: center;
}

.field-form-layout.detail.require {
  border: 1px solid rgb(250, 151, 151);
}

.field-form-layout.price {
  width: 150px;
}

.field-form-layout.price.require {
  border: 1px solid rgb(250, 151, 151);
}

.field-form-layout.salePrice {
  width: 150px;
}
/* 
.field-form-layout.salePrice.require {
  border: 1px solid rgb(250, 151, 151);
} */

.field-form-layout:disabled {
  background-color: #eeeeee;
}

.field-form-layout::placeholder {
  font-size: 14px;
  color: #bdbdbd;
}

.field-form-layout:focus {
  font-size: 14px;
  border: 1px solid rgb(90, 153, 255);
}
