.field-group-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  gap: 5px;
}

.field-text {
  font-size: 14px;
  color: #727272;
}

.field-error-text {
  font-size: 12px;
  color: rgb(250, 151, 151);
}

.field-form-layout {
  border: 1px solid rgb(174, 174, 174);
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  height: 30px;
  background-color: white;
  color: #747474;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.field-form-layout.require {
  border: 1px solid rgb(250, 151, 151);
}

.field-form-layout:disabled {
  background-color: #eeeeee;
}

.field-form-layout::placeholder {
  font-size: 14px;
  color: #bdbdbd;
}

.field-form-layout:focus {
  font-size: 14px;
  border: 1px solid rgb(90, 153, 255);
}
