.productTable-group-layout {
  display: flex;
  flex-direction: column;
}

.productTable-wrapper {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 290px);
  height: calc(100vh - 260px);
}

.productTable-scroll-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.productTable-wrapper.filter {
  height: calc(100vh - 405px);
}

.productTable-wrapper.false {
  width: calc(100vw - 120px);
}

.productTable-wrapper.false.filter {
  height: calc(100vh - 405px);
}

@media (max-width: 650px) {
  .productTable-wrapper.true {
    width: calc(100vw - 50px);
  }
  .productTable-wrapper.false {
    width: calc(100vw - 50px);
  }
}

.productTable-header {
  display: flex;
  flex-direction: row;
  background-color: rgb(220, 233, 255);
  border: 1px solid rgb(210, 227, 255);
  height: 30px;
  min-height: 30px;
  flex-shrink: 0;
  overflow: hidden;
  width: 100%;
}

.productTable-header-cell {
  display: flex;
  align-items: center;
  padding-left: 5px;
  /* min-width: 100px; */
  border-right: 1px solid rgb(210, 227, 255);
}

.productTable-header-cell.id {
  min-width: 100px;
}

.productTable-header-cell.name {
  flex: 1;
  min-width: 200px;
}

.productTable-header-cell.type {
  min-width: 100px;
}

.productTable-header-cell.price {
  min-width: 100px;
}

.productTable-header-cell.createDate {
  min-width: 150px;
}

.productTable-header-cell.action {
  min-width: 70px;
}

.productTable-header-cell.sku {
  min-width: 100px;
}

.productTable-header-cell.stock {
  min-width: 100px;
}

.productTable-body {
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex: 1;
  text-align: justify;
}

.productTable-detail-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

.productTable-column-layout {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  padding-left: 5px;
}

.productTable-column-layout.id {
  min-width: 100px;
}

.productTable-column-layout.name {
  flex: 1;
  min-width: 200px;
}

.productTable-column-layout.type {
  min-width: 100px;
}

.productTable-column-layout.status {
  min-width: 150px;
}

.productTable-column-layout.price {
  min-width: 100px;
}

.productTable-column-layout.owner {
  min-width: 100px;
}

.productTable-column-layout.createDate {
  min-width: 150px;
}

.productTable-column-layout.action {
  min-width: 70px;
}

.productTable-row-layout {
  display: flex;
  flex-direction: row;
  height: 40px;
  min-height: 40px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  border-top: 1px solid rgb(210, 227, 255);
  background-color: white;
}

.productTable-row-layout.almost {
  background-color: rgb(255, 214, 214);
  border-top: 1px solid rgb(255, 255, 255);
}

.productTable-text {
  font-size: 14px;
  color: rgb(142, 142, 142);
}

.productTable-text.head {
  color: rgb(171, 171, 171);
}

.productTable-text.outOfStock {
  color: rgb(255, 121, 121);
  font-weight: bold;
}

.productTable-icon-layout {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.productTable-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.productTable-action-layout {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.productTable-action-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
