.delete-product-dialog-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #9797977c;
  position: fixed;
}

.delete-product-dialog-group-layout {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 250px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.delete-product-dialog-text-title {
  font-size: 20px;
  color: #4b4b4b;
}

.delete-product-dialog-text-message {
  font-size: 18px;
  color: #4b4b4b;
  padding-top: 20px;
  padding-bottom: 20px;
}

.delete-product-dialog-group-button {
  display: flex;
  flex-direction: row;
  gap:10px
}
