.product-dialog-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #9797977c;
  position: fixed;
  z-index: 1;
}

.product-dialog-group-layout {
  background-color: white;
  overflow-y: scroll;
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-dialog-group-form-layout {
  overflow-y: scroll;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.product-dialog-group {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* width: 700px; */
  height: 600px;
  border-radius: 12px;
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.25);
}

.product-dialog-text {
  font-size: 14px;
  color: #727272;
}

.product-dialog-text.head {
  font-size: 18px;
}

.product-dialog-text.create {
  color: #ffffff;
}

.product-dialog-form-group {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: 15px;
  align-items: center;
  gap: 20px;
}

@media (max-width: 400px) {
  .product-dialog-form-group {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.product-dialog-form-group.bottom {
  gap: 10px;
  justify-content: center;
}

.product-dialog-form-layout {
  border: 1px solid rgb(174, 174, 174);
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  height: 30px;
  background-color: white;
  color: #747474;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product-dialog-form-layout.name {
  width: 300px;
}

.product-dialog-form-layout.description {
  width: 690px;
  height: 60px;
}

.product-dialog-form-layout.defect {
  width: 690px;
  height: 60px;
}

.product-dialog-form-layout.type {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 30px;
  align-items: center;
}

.product-dialog-form-type-layout::placeholder {
  font-size: 14px;
  color: #bdbdbd;
}

.product-dialog-form-type-layout:focus {
  font-size: 14px;
  border: 2px solid rgb(90, 153, 255);
}

.product-dialog-form-type-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
