.fieldDropdown-group-layout {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fieldDropdown-text {
  font-size: 14px;
  color: #727272;
}

.fieldDropdown-group-wrapper {
  display: flex;
  flex-direction: row;
  flex: auto;
  position: relative;
  height: 30px;
}

.fieldDropdown-layout {
  border: 1px solid rgb(174, 174, 174);
  outline: none;
  padding-left: 10px;
  padding-right: 35px;
  font-size: 14px;
  min-width: 200px;
  height: 30px;
  background-color: white;
  color: #747474;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.fieldDropdown-layout.require {
  border: 1px solid rgb(250, 151, 151);
}

.fieldDropdown-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.fieldDropdown-form-text {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #bdbdbd;
}

.fieldDropdown-form-text.data {
  color: #747474;
}

.fieldDropdown-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(174, 174, 174);
  z-index: 1;
}

.fieldDropdown-dropdown-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding-left: 10px;
}

.fieldDropdown-dropdown-list:hover {
  background-color: #eeeeee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
